.contenido{
    background-color:powderblue;

}

.portada{
    text-align: center;
}
.probabilidades{
    background-color:thistle;
}
.red{
    background-color: wheat;
    text-align: center;
}
.anidados{
    background-color: peachpuff;
    text-align: center;
}